body{
  background-color: #2f4f4f;
  color: #dddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 10%;
}

.exp-headr {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  background-color: rgba(0,0,0, 0.2);
}
